<div class="content">
  <div>
    <ul class="content__nav">
      <li class="">
        <a class=""
           href="javascript://"
           (click)="changeTab($event)"
           rel="add" [ngStyle]="{'color': tab === 'add' ? 'red' : '#212529'}"
        >Добавить</a>
      </li>
      <li class="" *ngIf="tab === 'change'">
        <a class=""
           href="javascript://"
           rel="change" [ngStyle]="{'color': tab === 'change' ? 'red' : '#212529'}"
        >Изменение</a>
      </li>
    </ul>
    <form style="padding: 1rem 0.5rem; box-sizing: border-box;" class="container-fluid form-diplom" [formGroup]="reviewerForm">
      <div class="form-group">
        <label for="Fio">Председатель:</label>
        <input class="form-control-custom" id="Fio" placeholder="Председатель" formControlName="Fio">
      </div>
      <button style="width: 100%;" (click)="onSubmit()" type="submit" class="button">{{buttonTitleAdd ? 'Добавить' : 'Изменить'}}</button>
    </form>
  </div>
  <div *ngIf="reviewerList" style="height: 93vh; overflow: auto; border-left: 1px solid; padding: 1rem;">
    <div *ngFor="let reviewer of reviewerList">
      <div *ngIf="reviewer.Id>0"  style="border-bottom: 1px solid; padding-bottom: 0.5rem">
        <label>Председатель: {{reviewer.Fio}}</label>
        <div>
          <button style="width: 49%; font-size: 14px; line-height: initial;" class="button" (click)="changeReviewer(reviewer.Id)">
            Редактировать
          </button>
          <button style="width: 49%;margin-left: 0.5rem; font-size: 14px; line-height: initial;"
                  class="button" (click)="deleteReviewer(reviewer.Id)">
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
