.form-diplom {
  overflow-y: auto;
}
.hidden {
  display: none;
}
ul {
  margin: 0; /* Отступ слева в браузере IE и Opera */
  padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a {
  color: black;
}
.form-group {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.form-group-filter {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
}
label {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select {
  color: red;
}
.form-control-custom{
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
