<div class="content">
  <div>
    <ul class="navbar navbar-light" style="background-color: #e3f2fd; height: 5vh; ">
      <li class="nav-item">
        <a class="nav-link font-weight-normal"
           href="javascript://"
           (click)="changeTab($event)"
           rel="add"
        >Добавить</a>
      </li>
    </ul>
    <form style="padding: 1rem 0.5rem; box-sizing: border-box;" class="container-fluid form-diplom" [formGroup]="pmForm">
      <div class="form-group">
        <label for="Fio">Руководитель:</label>
        <input class="form-control-custom" id="Fio" placeholder="Фио" formControlName="Fio">
      </div>
      <button style="width: 100%;" (click)="onSubmit()" type="submit" class="btn btn-success">{{buttonTitleAdd ? 'Добавить' : 'Изменить'}}</button>
    </form>
  </div>
  <div *ngIf="pmList" style="height: 95vh; overflow: auto; border-left: 1px solid; padding: 1rem;">
    <div *ngFor="let pm of pmList">
      <div *ngIf="pm.Id>0"  style="border-bottom: 1px solid; padding-bottom: 0.5rem">
        <label>Преподаватель: {{pm.Fio}}</label>
        <div>
          <button style="width: 49%; font-size: 14px; line-height: initial;" class="btn btn-outline-primary" (click)="changePm(pm.Id)">
            Редактировать
          </button>
          <button style="width: 49%;margin-left: 0.5rem; font-size: 14px; line-height: initial;"
                  class="btn btn-outline-primary" (click)="deletePm(pm.Id)">
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
