.form-diplom {
  overflow-y: auto;
}
.hidden {
  display: none;
}
ul {
  margin: 0; /* Отступ слева в браузере IE и Opera */
  padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a {
  color: black !important;
}
.form-group {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
label {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
