.hidden {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: #212529;
  border-bottom: 1px solid #212529;
  .navbar__el {
    border: 1px solid;
  }
}
.content {
  height: 100vh;
  display: grid;
  grid-auto-rows: 7vh auto;
}

a:hover {
  text-decoration: none;
}
