.chevron {
  transform: rotate(180deg);
}
p {
  margin: 0;
}

.btn {
  padding: 0;
}

:host {
  ::ng-deep {
    .card-body {
      padding-bottom: 0 !important;
    }
    label {
      font-size: 1rem;
    }
  }
}
